/* table.tablesorter .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
} */

table.tablesorter .headerSortUp {
	background-image: url(../img/asc.gif);
	background-repeat: no-repeat;
}

table.tablesorter .headerSortDown {
	background-image: url(../img/desc.gif);
	background-repeat: no-repeat;
}